<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lary.module.order.mapper.ReceiptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" category="cn.lary.module.order.entity.Receipt">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="uid" property="uid" />
        <result column="username" property="username" />
        <result column="content" property="content" />
        <result column="amount" property="amount" />
        <result column="status" property="status" />
        <result column="title" property="title" />
        <result column="store_id" property="storeId" />
        <result column="store_name" property="storeName" />
        <result column="taxpayer_id" property="taxpayerId" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

</mapper>
