<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lary.module.app.mapper.LaryChannelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.lary.module.app.entity.LaryChannel">
        <id column="id" property="id" />
        <result column="channel_type" property="channelType" />
        <result column="uid" property="uid" />
        <result column="is_delete" property="isDelete" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
    </resultMap>

</mapper>
