<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lary.module.invest.mapper.InvestRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.lary.module.invest.entity.InvestRecord">
        <id column="id" property="id" />
        <result column="sid" property="sid" />
        <result column="lid" property="lid" />
        <result column="rid" property="rid" />
        <result column="uid" property="uid" />
        <result column="sync" property="sync" />
        <result column="create_at" property="createAt" />
    </resultMap>

</mapper>
