<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lary.module.invest.mapper.InvestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.lary.module.invest.entity.Invest">
        <id column="id" property="id" />
        <result column="lid" property="lid" />
        <result column="uid" property="uid" />
        <result column="rid" property="rid" />
        <result column="policy" property="policy" />
        <result column="duration" property="duration" />
        <result column="category" property="category" />
        <result column="create_at" property="createAt" />
    </resultMap>

</mapper>
