<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lary.module.user.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.lary.module.user.entity.User">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="name" property="name" />
        <result column="short_no" property="shortNo" />
        <result column="sex" property="sex" />
<!--        <result column="username" property="username" />-->
        <result column="password" property="password" />
        <result column="is_upload_avatar" property="isUploadAvatar" />
        <result column="birthday" property="birthday" />
        <result column="regin" property="regin" />
        <result column="is_robot" property="isRobot" />
        <result column="bio" property="bio" />
        <result column="level" property="level" />
        <result column="email" property="email" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="vercode" property="vercode" />
        <result column="qr_vercode" property="qrVercode"/>
        <result column="deleted" property="deleted" />
        <result column="is_anchor" property="isAnchor" />
        <result column="anchor_announce" property="anchorAnnounce" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
    </resultMap>
    <select id="selectBaseByIDs" resultType="cn.lary.module.user.dto.res.UserBaseRes">
        select uid, name, is_robot
        from `user`
        where uid in
        <foreach item="item" index="index" collection="uids" open="(" separator=", " close=")">
            #{item}
        </foreach>
    </select>
    <select id="selectBase" resultType="cn.lary.module.user.dto.res.UserBaseRes">
        select uid,name,is_robot from `user` where uid = #{uid} and deleted = false
    </select>
    <select id="selectBasicInfo" resultType="cn.lary.module.user.dto.res.UserBasicInfo">
        select uid,name,is_robot,vercode from `user` where uid = #{uid} and deleted = false
    </select>
    <select id="checkWithCode" resultType="cn.lary.module.user.dto.res.FriendCodeCheck">
        select uid,vercode from user where vercode = #{code}
    </select>
    <select id="checkWithQRCode" resultType="cn.lary.module.user.dto.res.FriendCodeCheck">
        select uid,qr_vercode as vercode from user where qr_vercode = #{code}
    </select>
    <select id="selectUserShowInfo" resultType="cn.lary.module.user.entity.UserShowInfo">
        select uid, name, bio, is_upload_avatar, avatar_url, update_at
        from user
        where is_anchor = 1
        and deleted = false
        and uid in
        <foreach item="item" index="index" collection="uids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>
