<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lary.module.wallet.mapper.WalletIncomeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.lary.module.wallet.entity.WalletIncome">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="to_uid" property="toUid" />
        <result column="channel_id" property="channelId" />
        <result column="channel_type" property="channelType" />
        <result column="category" property="category" />
        <result column="cost" property="cost" />
        <result column="is_delete" property="isDelete" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
    </resultMap>
    <select id="getIncomes" resultType="cn.lary.module.wallet.vo.WalletIncomeVO">
        select id,to_uid,channel_id,category from wallet_outcome
        where
            uid = #{uid}
        <if test="toUid != null and toUid != ''">
            and to_uid = #{toUid}
        </if>
        <if test="channelId != null and channelId != ''">
            and channel_id = #{channelId}
        </if>
        <if test="category != null and category != ''">
            and category = #{category}
        </if>
        <if test="cost != null and cost != ''">
            and cost >= #{cost}
        </if>
    </select>

</mapper>
