<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lary.module.gift.mapper.GiftTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" category="cn.lary.module.gift.entity.GiftType">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="count" property="count" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="is_privilege" property="isPrivilege" />
        <result column="is_delete" property="isDelete" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
    </resultMap>

</mapper>
