<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lary.wallet.mapper.WalletIncomeMapper">


    <select id="getIncomes" resultType="cn.lary.wallet.vo.WalletIncomeVO">
        select id,to_uid,channel_id,category from wallet_outcome
        where
            uid = #{uid}
        <if test="toUid != null and toUid != ''">
            and to_uid = #{toUid}
        </if>
        <if test="channelId != null and channelId != ''">
            and channel_id = #{channelId}
        </if>
        <if test="category != null and category != ''">
            and category = #{category}
        </if>
        <if test="cost != null and cost != ''">
            and cost >= #{cost}
        </if>
    </select>

</mapper>
