<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lary.wallet.mapper.WalletMapper">

    <update id="batchOutcomeRandomTransfer" >
        <foreach item="item" collection="list" separator="," open="(" close=")" index="">
            update set amount = amount + #{item.amount}
            where uid = #{item.user}
        </foreach>
    </update>

</mapper>
