<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lary.module.pay.mapper.PaymentLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.lary.module.pay.entity.PaymentLog">
        <id column="id" property="id" />
        <result column="order_type" property="orderType" />
        <result column="trade_no" property="tradeNo" />
        <result column="pay_way" property="payWay" />
        <result column="pay_status" property="payStatus" />
        <result column="amount" property="amount" />
        <result column="post_status" property="postStatus" />
        <result column="return_status" property="returnStatus" />
        <result column="post_json" property="postJson" />
        <result column="return_json" property="returnJson" />
        <result column="result_code" property="resultCode" />
        <result column="err_code_str" property="errCodeStr" />
        <result column="is_delete" property="isDelete" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
    </resultMap>

</mapper>
